* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #8b8a8a;
}

body {
    background-color: gray;
}

.page-container-grid {
    width: 100vw;
    display: grid;
    justify-content: center;
    background-color: gray;
    grid-template-areas: "a1 a1 a1 a1" "a2 a2 a2 a2" "a3 a3 a3 a3" "a4 a4 a4 a4" "a5 a5 a5 a5" "a6 a6 a6 a6" "a7 a7 a7 a7" "a8 a8 a8 a8";
}

header {
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
    background-color: white;
}

.logo-img {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 200px);
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation ul li {
    padding: 10px 20px;
    font-size: 14px;
}

.navigation ul li:hover {
    cursor: pointer;
    background-color: #C16495;
    color: white;
    transition: 0.6s;
}

.grid-line1 {
    grid-area: a1;
    margin-top: 40px;
    ;
}

.grid-line2 {
    grid-area: a2;
    background-color: pink;
}

.grid-line3 {
    grid-area: a3;
    background-color: pink;
}

.grid-line4 {
    grid-area: a4;
    background-color: pink;
}

.grid-line5 {
    grid-area: a5;
    background-color: pink;
}

.grid-line6 {
    grid-area: a6;
    background-color: pink;
}

.grid-line7 {
    grid-area: a7;
    background-color: pink;
}

.grid-line8 {
    grid-area: a8;
    background-color: pink;
}