* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #8b8a8a;
}

.page-container-grid {
    width: 100%;
    display: grid;
    background-color: gray;
    grid-template-areas: "a1 a1 a1 a1" "a2 a2 a2 a2" "a3 a3 a3 a3" "a4 a4 a4 a4" "a5 a5 a5 a5" "a6 a6 a6 a6" "a7 a7 a7 a7" "a8 a8 a8 a8";
}

.header {
    height: 66px;
    align-items: stretch;
    padding: 10px;
    background-color: white;
    box-shadow:  1px 2px rgba(0, 0, 0, 0.2)
}

.logo-img {
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 200px);
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation ul li {
    padding: 10px 20px;
    font-size: 13px;
}

.navigation ul li:hover {
    cursor: pointer;
    background-color: #C16495;
    color: white;
    transition: 0.6s;
}
.short-description .wrapper{
    justify-content: space-evenly;
}
.short-description .wrapper p{
    width: 90%;
    align-self: center;
}



/* Classes para ajustes padrões de layout */
.dflex-center{
    display: flex;
    justify-content: center;
}
.wrapper{
    width: 1100px;
    flex-flow: row wrap;
    display: flex;
}




/* CSS para definição de cada linha do GRID */
.grid-line1 {
    grid-area: a1;
    padding-top: 40px;
    background: url("images/bkg-img.jpg") center;
    height: 570px;
}
.grid-line2 {
    grid-area: a2;
    background-color: #F2F2F2;
    height: 150px;
    align-items: center;
}

.grid-line3 {
    grid-area: a3;
}

.grid-line4 {
    grid-area: a4;
}

.grid-line5 {
    grid-area: a5;
}

.grid-line6 {
    grid-area: a6;
}

.grid-line7 {
    grid-area: a7;
}

.grid-line8 {
    grid-area: a8;
}